<h1>Welcome to the Ghost town cinema</h1>

<img src="/cinema/static/bio.jpg" alt=""/>

<p>
  We always provide our citizens with <strong>three top movies</strong> every Friday, Saturday and Sunday. None of the movies is longer then 1 hour and 40 minutes.
</p>


<div class="row">
    <div class="col s4">&nbsp;</div>
    <div class="col s4">
    <form action="cinema/day">

        <div class="input-field">
            <select name="day" id="day">
                <option value="" disabled selected>--- Pick a day ---</option>
                <option value="05">Friday</option>
                <option value="06">Saturday</option>
                <option value="07">Sunday</option>
            </select>

        </div>
    </form>
    </div>
    <div class="col s4"></div>

</div>

<div class="row">
    <div class="col s4">&nbsp;</div>
    <div class="col s4">

    <div class="input-field" id="movies" style="display: none;">  
        <form  method="GET" action="cinema/movie"> 
            <select name="movie" id="movie"> 
                <option disabled selected>--- Pick a Movie ---</option> 
                <option value="01">The Flying Deuces</option> 
                <option value="02">Keep Your Seats, Please</option> 
                <option value="03">A Day at the Races</option> 
            </select> 
        </form>
    </div>
    <div class="col s4"></div>
  </div>

</div>

<div class="row">
    <div class="col s4">&nbsp;</div>
    <div class="col s4">
      <button style="display: none;" id="check">Check availablity</button>
    </div>
    <div class="col s4"></div>
</div>

<div class="row">
    <div class="col s4">&nbsp;</div>
    <div class="col s4">
      <div id="message">
    </div>
    <div class="col s4"></div>
</div>



<script src="/cinema/static/js/ajax_call_min.js" type="text/javascript"></script>
